@{
    ViewBag.Title = "Reset password confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Your password has been reset. Please <a asp-action="Login" asp-controller="Account" id="loginLink">click here to log in</a>
    </p>
</div>
